/* VARIABLES
---------------------------------------------*/
:root {
  --main-gradient: linear-gradient(150deg, #6072ff, #ff5ddf);
  --main-color: #ff5ddf;
  --secondary-color: #6072ff;
  --page-background: #1b1b3a;
  --color-1: #828a95;
  --color-3: #422951;
  --color-4: #fffaff;
  --color-5: #b91c43;
  --color-6: #d5c9df;
  --color-7: #dcb8cb;
  --color-8: #fd5f67;
  --color-11: #262647;
  --color-12: #32324e;
  --color-13: #d6cec1;
  --color-14: #6bc8fd;
  --color-15: #4d4d4d;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* COLORS & BACKGROUNDS
---------------------------------------------*/
body {
  background: var(--page-background);
  color: var(--color-4);
}

pre {
  color: var(--color-1);
  background: var(--color-11);
}

code {
  background: var(--color-12);
}

.links-div {
  background: var(--color-4);
}

.main-color {
  color: var(--main-color);
}

.note {
  background: var(--color-11);
}

.tag {
  color: var(--color-8);
}

.info {
  color: var(--color-14);
}

.text {
  color: var(--color-4);
}

footer a {
  color: var(--color-3);
}

main a {
  color: var(--secondary-color);
}

/* gradient use : */
.links-div a {
  color: var(--main-color);
  background-image: var(--main-gradient);
  background-size: 100%;
  background-clip: border-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

nav,
footer,
.img-div img,
.gradient-line {
  background: var(--main-gradient);
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* BORDERS
---------------------------------------------*/
.links-div {
  border-top: 10px solid var(--color-6);
  border-bottom: 10px solid var(--color-6);
}

.color--1 {
  border-left: 5px solid var(--secondary-color);
}

.color--2 {
  border-left: 5px solid var(--main-color);
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* HOVER & FOCUS  
---------------------------------------------*/
footer a:hover,
footer a:focus,
main a:hover,
main a:focus {
  color: var(--color-3);
  border-bottom: 1px solid var(--color-3);
}

.icon-links:hover {
  transform: scale(1.5);
  border: transparent;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* SCROLLBAR
---------------------------------------------*/
::-webkit-scrollbar-track {
  background: var(--color-12);
}

::-webkit-scrollbar-thumb {
  background: var(--color-1);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-15);
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
