@media (min-width: 815px) {
  .big-div {
    display: flex;
  }

  nav {
    left: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    position: fixed;
  }

  .links-div {
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    height: 75%;
  }

  .link-container {
    margin-top: 50px;
    border-bottom: 1px solid var(--color-1);
  }

  .nav-link:hover,
  .nav-link:focus {
    opacity: 0.5;
  }

  .nav-replacement {
    width: 350px;
  }

  .img-div img {
    max-width: 60%;
  }

  main {
    width: 60%;
  }

  main header {
    padding-top: 50px;
  }

  footer {
    margin-left: 300px;
    padding: 10px 0 0 20px;
    background: var(--color-12);
  }

  footer a {
    color: var(--main-color);
  }

  footer a:hover,
  footer a:focus {
    color: var(--secondary-color);
    border: none;
  }
}
